@font-face {
  font-family: SulphurPoint;
  src: url("/src/Fonts/SulphurPoint-Regular.ttf");
}

* {
  margin: 0;
}
a {
  color: inherit;
  font-family: SulphurPoint;
  text-decoration: none;
}
p {
  margin: 10px 0;
  line-height: 1.857em;
  font-size: 1vw;
  font-weight: 500;
  font-family: sans-serif;
}
h1 {
  font-family: SulphurPoint;
}
.header {
  height: 5vw;
  display: flex;
  align-items: center;
}
.header-logo-link {
  height: 2vw;
  float: left;
  margin-left: 25px;
  margin-right: auto;
}
.main-nav-wrapper {
  margin-right: 25px;
  display: flex;
  margin-top: 5px;
  font-size: 2vw;
}
.social-wrapper {
  display: flex;
  margin-right: 2vw;
  font-size: 2vw;
}
.social-item {
  margin-left: 24px;
}
.nav-item:hover {
  color: darkgray;
  cursor: pointer;
}
.main-logo {
  height: 3vw;
}
.grey-hover:hover {
  color: grey;
}
.footer {
  background-color: black;
  padding: 6vh;
  bottom: 0;
}

.footer a {
  color: white;
}

.project-wrapper {
  min-height: 45vw;
  position: relative;
}
.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 4vw;
  color: white;
}
.modal-exit-icon {
  position: relative;
  padding-top: 2.5%;
  padding-left: 5%;
  left: 90%;
}
.modal-exit-icon:hover {
  color: darkgray;
  cursor: pointer;
}
.modal-navigation-container {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 80px;
  font-weight: 800;

  margin-left: -150px;
  margin-top: -150px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 300px;
}
